<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-wrapper">
    <h2>회원가입</h2>
    <form method="post" action = "/team4/register" id="login-form">
        <input type="text" name="userEmail" placeholder="Email">
        <input type="password" name="userPassword" placeholder="Password">
        <input type="text" name="userName" placeholder="Name">
        <input type="submit" value="완료">
    </form>
</div>
</body>
</html>
