<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-wrapper">

    {{#Exception}}
        <h2>재로그인 하세요!</h2>
        <h3 >{{Exception}}</h3>
    {{/Exception}}
    {{^Exception}}
         <h2>WELCOME</h2>
    {{/Exception}}

    <form method="post" action = "/user/login" id="login-form">
        <input type="text" name="userEmail" placeholder="Email">
        <input type="password" name="userPassword" placeholder="Password">
        <input type="submit" value="로그인">
    </form>
    <button id="signup-button">
        회원가입
    </button>

</div>
<script src="/js/login.js"></script>
</body>
</html>
